GOOGLE_SHEETS_ID=ID_DEL_ARCHIVO_DE_GOOGLE_SHEETS
GOOGLE_SERVICE_ACCOUNT_EMAIL=correo-de-la-cuenta@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPEGAR_LA_CLAVE_AQUI\n-----END PRIVATE KEY-----\n"
